.app {
    height: 100%;
}
.sider{

}
.head{
    background-color: cornflowerblue;
    position:fixed;
    width: 100%;
}
.content{
    font-size: 1em;
}
.foot{
    padding: 0px;
    line-height: 30px;
    height: 30px;
    color:black;
    text-align: center;
    background-color:whitesmoke;
}